@media screen and (min-width: 500px) {
    
    header {
        background-color: #333;
        color: #fff;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }

    header h1 {
        text-align: center;
    }
}